.addSchedule {
    width: auto;
    height: 1000px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 656px;
    height: 950px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px -28px;
}

.infos {
    margin-top: 50px;
    background-color: transparent;
}

.title {
    background-color: transparent;
}

.title input {
    background-color: transparent;
    width: 556px;
    height: 48px;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.title input::placeholder {
    color: #858585;
}

.title input:focus {
    outline: none;
}

.desc {
    margin-top: 50px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.desc span {
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3F3F3F
}

.desc input {
    margin-top: 12px;
    background-color: transparent;
    width: 556px;
    height: 48px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.desc input:focus {
    outline: 1px solid #4B77F2;
}

.color {
    margin-top: 40px;
    background-color: transparent;
}

.color span {
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3F3F3F
}

.date {
    margin-top: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.date span {
    margin-bottom: 10px;
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3F3F3F
}

/* .date input {
    margin-top: 12px;
    background-color: transparent;
    width: 556px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
} */

/* .date input:focus {
    outline: 1px solid #4B77F2;
} */

.btns {
    background-color: transparent;
    margin-top: 12px;
}

.btn_ok {
    width: 120px;
    height: 35px;
    background-color: #4B77F2;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.btn_cancel {
    margin-left: 80px;
    width: 120px;
    height: 35px;
    background-color: #4B77F2;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

