.colorPicker {
    width: 330px;
    height: 32px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.btns {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.addBtn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    border: none;
    box-shadow: 0 0 20px -12px;
}

/* .chromePicker {
    position: absolute;
    top: 200px;
} */

.color {
    width: 36px;
    height: 14px;
    /* borderRadius: '2px', */
    
}

.swatch {
    padding: 5px;
    background-color: tomato;
    /* borderRadius: '1px'; */
    /* boxShadow: '0 0 0 1px rgba(0,0,0,.1)'; */
    display: inline-block;
    cursor: pointer;
}

.popover {
    position: absolute;
    z-index: 2;
    top: 200px;
}

.cover {
    /* width: 0;
    height: 0; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}