.mySchedule {
    width: auto;
    height: 1000px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 656px;
    height: 950px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px -28px;
}

.infos {
    margin-top: 50px;
    background-color: transparent;
}

.title {
    width: 550px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.desc {
    width: 550px;
    margin-top: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* ----slide---- */

.slide {
    width: 550px;
    height: 160px;
    margin-top: 40px;
    margin-left: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.dayblock {
    background-color: white;
    width: 100px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
}

.dayblock:visited{
    color: #4B77F2;
}

.monthfont {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #858585;
}

.dayfont{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    color: #4B77F2;
    font-weight: bold;
}

.weekfont {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #4B77F2;
}

.tablebox {
    margin-top: 40px;
    margin-left: 3px;
    width: 563px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #DEDEDE;
}

.time {
    text-align: center;
    word-spacing: 42px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    color: #858585;
    font-weight: bold;
}

.btn_dayblock {
    margin-top: 20px;
    width: 95px;
    height: 120px;
    border-radius: 10px;
    text-align: center;
    right: 100px;
    background-color: white;
    box-shadow: 0 0 30px -28px;
    border-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_allday {
    width: 50px;
    height: 20px;
    border-style: solid;
    border-radius: 50px;
    border-color: #F1F1F1;
    background-color: white;
    border-width: 1px;
    font-size: 14px;
    color: #DEDEDE;
    
}

.backgroundChange {
    background-color: #4B77F2;
}

.colorWhite {
    color: white;
}

.colorGray {
    color: #DEDEDE;
}

/* ----invite---- */

.invite {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.texts {
    display: inline-block;
    margin: 10px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #3F3F3F;
    font-weight: bold;
}

.flex {
    display: flex;
}

.invite_input {
    margin-bottom: 20px;
    padding-left: 15px;
    width: 552px;
    height: 57px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.invite_input::placeholder {
    color: #DEDEDE;
}

.btn_position {
    width: 58px;
    height: 27px;
    position: absolute;
    margin-top: 16px;
    margin-left: 510px;
    background-color: white;
}

.btn_search {
    margin-left: 10px;
    color: #4B77F2;
    border: none;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.memberList {
    margin-left: 40px;
    width: 500px;
    height: 48px;
}

.member {
    margin: 10px 6px 10px 6px;
    width: 155px;
    height: 48px;
    background-color: white;
    /* background-color: #3F3F3F; */
    border-radius: 10px;
    /* box-shadow: 0 0 30px -28px; */
    box-shadow: 0 0 18px -15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #DEDEDE;
    border-radius: 50%;
}

.member_name {
    margin-bottom: 1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #3F3F3F;
}

.btn_delete {
    margin-top: 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* ----btns---- */

.btns {
    margin-top: 10px;
}

.btn_submit {
    margin-top: 40px;
    width: 216px;
    height: 48px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #4B77F2;
    border-radius: 10px;
}

