.signUp {
    width: auto;
    height: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 35px;
    width: 656px;
}

.title span {
    /* margin-bottom: 100px; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
}

.box {
    width: 656px;
    height: 684px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px -28px;
}

.forms {
    background-color: transparent;
}

.section {
    margin-top: 40px;
}

.inputs {
    margin-top: 10px;
    background-color: transparent;
    width: 556px;
    height: 60px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: bold; */
    font-size: 18px;
}

input::placeholder {
    color: #DEDEDE;
}

input:focus {
    outline: 1px solid #4B77F2;
}

.texts {
    display: flex;
    justify-content: space-between;
}

.text_title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3f3f3f;
}

.text_report {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #F24B4B;
}

.pw_inputs {
    display: flex;
    flex-direction: row-reverse;
}

.eye {
    position: absolute;
    margin-top: 30px;
    margin-right: 10px;
}

.eyeSlash {
    position: absolute;
    margin-top: 30px;
    margin-right: 10px;
}

.btns {
    margin-top: 35px;
    background-color: transparent;
}

.btn_notCompleted {
    width: 160px;
    height: 48px;
    background-color: white;
    border: 1px solid #858585;
    border-radius: 10px;
    color: #858585;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.btn_completed {
    width: 160px;
    height: 48px;
    background-color: #4B77F2;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    cursor: pointer;
}